*{
    padding: 0px;
    margin: 0px;
}
body{
    background-color: #EDF8F7;
}
#Container{
    display: flex;
    flex: 1;
    justify-content: space-around;
    padding-top: 100px;
}
#Container img{
    border: 1px solid #76BFAC;
    height: 300px;
    width: 500px;
    border-radius: 30px;
    opacity: calc(60%);
}
#container{
    height: 330px;
    background-color: white;
    padding: 60px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    /*não quebra linha*/ 
    white-space: nowrap;
    border-radius: 30px;
    flex: 0;
}
#container h2{
    margin-bottom: 40px;
    color: #76BFAC;
}
#container input[type="email"],input[type="password"]{
    padding: 10px 5px;
    border: none;
    background-color: #EDF8F7;
    border-radius: 50px;
    outline: 0;

}
#container input[type="submit"]{
    margin-top: 25px;
    border: none;
    border-radius: 50px;
    background-color: #76BFAC;
    cursor: pointer;
    padding: 10px;
    font-size: 17px;

}
#header{
    background-color: white;
    font-family: 'Noto Serif Ahom', serif;
    font-size: 20px ;
    display: flex;
    justify-content: space-between;
    box-shadow: 10px 1px 15px rgb(105, 104, 104);
}
#container a {
    color:#76BFAC;
    display: flex;
    justify-content: center;
}
.icons{
   color: #073c3d;
   background-color: #EDF8F7;
   margin-bottom: 40px;
   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50px;
}
#header img{
   height: 120px;
}
.logo h1{
    margin-top: 15px;
    color:#76BFAC;
}
.logo{
    padding: 0px;
    display: flex;
}
#text{
    display: flex;
    flex-direction: column;
    
}
#text h5{
    letter-spacing: 9px;
    font-size: 15px;    
}
.pai{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    align-self: center;
    height: 70px;
    width: 70px;
    border-radius: 50%;
    border: 3px solid #76BFAC;
    margin-right: 30px;
    gap: 10px;
    cursor: pointer;
}
.filha{
    border-radius: 30px;
    width: 65%;
    height: 10%;
    background-color: #76BFAC;
}
footer{
    padding-bottom: 200px;
    display: flex;
    margin-top: 200px;
    min-height: 200px;
    min-width: 200px;
    background-color: #073c3d;
}
footer img{
    height: 25vh;
}
.feet{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-left: 50px;
    color: white;
    list-style: none;
}
.contact{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    
}
.contact img{
    gap: 10px;
    height: 80px;
    color: white;
    filter: contrast(0%) brightness(200%)
    
}
.btn_contact{
    display: flex;
    flex-direction: column;
    gap: 35px;
    width: 30%;
}
.btn_contact button{
    display: flex;
    justify-content: center;
    align-self: center;
    background-color: #76BFAC;
    color: white;
    border: 1px solid #76BFAC;
    border-radius: 50px;
    padding: 20px 40px;
    font-size: 20px;
    font-weight: bold;
}
li{
    cursor: pointer;
}